

/* ------------------------------- ANIMATIONS ------------------------------- */

@font-face {
    font-family: "Amiamie";
    src: url("../fonts/amiamie/otf/Amiamie-Regular.otf") format("opentype"),
      url("../fonts/amiamie/ttf/Amiamie-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Amiamie";
    src: url("../fonts/amiamie/otf/Amiamie-Italic.otf") format("opentype"),
      url("../fonts/amiamie/ttf/Amiamie-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Amiamie";
    src: url("../fonts/amiamie/otf/Amiamie-Light.otf") format("opentype"),
      url("../fonts/amiamie/ttf/Amiamie-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Amiamie";
    src: url("../fonts/amiamie/otf/Amiamie-LightItalic.otf") format("opentype"),
      url("../fonts/amiamie/ttf/Amiamie-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Amiamie";
    src: url("../fonts/amiamie/otf/Amiamie-Black.otf") format("opentype"),
      url("../fonts/amiamie/ttf/Amiamie-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Amiamie";
    src: url("../fonts/amiamie/otf/Amiamie-BlackItalic.otf") format("opentype"),
      url("../fonts/amiamie/ttf/Amiamie-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Amiamie-Round";
    src: url("../fonts/amiamie/otf/Amiamie-RegularRound.otf") format("opentype"),
      url("../fonts/amiamie/ttf/Amiamie-RegularRound.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Amiamie-Round";
    src: url("../fonts/amiamie/otf/Amiamie-BlackRound.otf") format("opentype"),
      url("../fonts/amiamie/ttf/Amiamie-BlackRound.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Amiamie-Round";
    src: url("../fonts/amiamie/otf/Amiamie-BlackItalicRound.otf") format("opentype"),
      url("../fonts/amiamie/ttf/Amiamie-BlackItalicRound.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @theme {
    --color-primary: #e5e5e0;
    --color-DarkLava: #393632;
    --color-SageGray: #8b8b73;
    --color-gold: #cfa355;
    --font-amiamie: "Amiamie", sans-serif;
    --font-amiamie-round: "Amiamie-Round", sans-serif;
  
    --animate-marquee: marquee 40s infinite linear;
    @keyframes marquee {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% - var(--gap)));
      }
    }
  }
  
  @keyframes orbit {
    0% {
      transform: translate(-50%, -50%) translateX(50px) translateY(0px) rotate(0);
    }
    40% {
      transform: translate(-50%, -50%) translateX(100px) translateY(-30px) rotate(30deg);
    }
    50% {
      /* Pause at B */
      transform: translate(-50%, -50%) translateX(100px) translateY(-30px) rotate(60deg);
    }
    100% {
      transform: translate(-50%, -50%) translateX(50px) translateY(0px) rotate(0);
    }
  }

  @keyframes orbit_reverse {
    0% {
      transform: rotate(0deg) translateX(50px);
    }
    25% {
      transform: rotate(22.5deg) translateX(50px);
    }
    50% {
      transform: rotate(35deg) translateX(50px);
    }
    75% {
      transform: rotate(22.5deg) translateX(50px);
    }
    100% {
      transform: rotate(0deg) translateX(50px);
    }
  }


/* ------------------------------- GENERAL ------------------------------- */

  body {
    background: #e5e5e0;
    color: black;
    scroll-behavior: smooth;
    font-family: var(--font-amiamie);
  }
  
  .clip-path {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  
  .star3D  canvas {
    width: 100% !important;
    height: 100% !important;
  }

  .orbit-mooon {
    position: relative;
    width: 200px; /* size of the orbit circle */
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Optional: add a border to visualize the orbit path */
    /* border: 1px dashed #ccc; */
  }
  
  .firstMoon {
    position: absolute;
    top: 20vh;
    left: 35vw;
    animation: orbit 10s linear infinite;
    opacity: .5;
  }

  .secondMoon {
    position: absolute;
    bottom: 5vh;
    right: 40vw;
    animation: orbit_reverse 10s linear infinite;
    opacity: .5;
  }

  @media (max-width: 1086px) {
    .secondMoon {
      display: none;
    }
  }

  .bg-gold {
    background-color: #d3a802;
  }

  .overflowExperience {
    overflow-y: scroll !important;
  }

/* ------------------------------- FONTS ------------------------------- */

  .banner-text-responsive {
    font-size: 51px;
    line-height: 52px; 
  }
  
  .value-text-responsive {
    font-size: 24px; 
  }
  
  .marquee-text-responsive {
    font-size: 28px;
  }
  
  .contact-text-responsive {
    font-size: 28px;
  }


  /* fonts sm */ 
  @media (min-width: 640px) { 
    .contact-text-responsive {
        font-size: 52px;
    }
    .marquee-text-responsive {
        font-size: 36px;
    }
    .banner-text-responsive {
        font-size: 95px;
        line-height: 92px; 
    }
  }

  /* fonts md */ 
  @media (min-width: 768px) { 
    .contact-text-responsive {
      font-size: 62px;
    }
    .banner-text-responsive {
        font-size: 120px;
        line-height: 104px; 
    }
    .value-text-responsive {
        font-size: 26px;
    }
  }

  /* fonts lg */ 
  @media (min-width: 1024px) { 
    .contact-text-responsive {
        font-size: 100px;
    }
    .marquee-text-responsive {
        font-size: 42px;
    }
    .value-text-responsive {
        font-size: 32px;
    }
    .banner-text-responsive {
        font-size: 152px;
        line-height: 125px; 
    }
  }
  